{% extends 'base.html' %}

{% load static%}

{% comment %} Plantilla de Inicio {% endcomment %}

{% block contenido %}
	<div class="work_title">
		<div class="work_nav">
			<h1 class="tittle" style="background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;">
						Publicaciones recientes
			</h1>
		</div>
		<div class="work_nav">
			<ul class="btn clearfix" style="float:none; margin-left: 10px;">
				<li><a href="#" class="previous" data-title="Previous"></a></li>
				<li><a href="/" class="grid" data-title="Portfolio"></a></li>
				<li><a href="#" class="next" data-title="Next"></a></li>
			</ul>
		</div><!-- end work_nav -->
	</div>
	<div><a href="/publicacion/nuevo" class="btn btn-success">Publicar</a></div>	
	{%for item in publicaciones %}
		<div class="work">
			<a href="/publicacion/{{item.id}}">
				<img src="/static/{{ item.imagen }}" class="media img-responsive img-thumbnail" alt=""/>
				<!--<img src="/static/publicaciones/work6.jpg" class="media" alt=""/>-->
				<div class="caption">
					<div class="work_title">
						<h1>{{item.titulo}}</h1>
						<p>{{item.precio}}</p>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}

{% endblock %}